<h1>Listing shipment_items</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shipment_items.each do |shipment_item| %>
      <tr>
        <td><%= link_to 'Show', shipment_item %></td>
        <td><%= link_to 'Edit', edit_shipment_item_path(shipment_item) %></td>
        <td><%= link_to 'Destroy', shipment_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipment item', new_shipment_item_path %>
