<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice status desc:</strong>
  <%= @invoice_status.invoice_status_desc %>
</p>

<%= link_to 'Edit', edit_invoice_status_path(@invoice_status) %> |
<%= link_to 'Back', invoice_statuses_path %>
